:root {
    --font-color: rgb(0, 0, 140);
    --bg-navbar: rgb(0, 0, 20);
    --bg-body: rgb(0, 0, 40);
    --shadow: rgb(0, 0, 50);
    --hover: rgb(0, 0, 200);
    --bg-rt: rgb(0, 0, 20);
    --bg-r: rgb(0, 0, 30);
}